
# Server
PORT=8000
HOST=localhost #0.0.0.0
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://localhost:27017/
MONGODB_DB_NAME=cj_dropshipping

# CJ Dropshipping API
CJ_API_KEY=your_key_goes_here
CJ_BASE_URL=https://developers.cjdropshipping.com/api2.0

# JWT Secret (for your own auth layer)
JWT_SECRET=my_name_is_hamza

# Frontend URL for CORS
FRONTEND_URL=http://localhost:3000
